header{
    border: 1px solid black;
    height: 10vh;
}

figure{
    border: 1px solid black;
    height: 10vh;
}

.section-title{
    flex-basis: 20%;
    display: flex;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

.section-content{
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}

.smaller-picture{
    flex-basis: 50%;
    border: 1px solid black;
    height: 30vh;
}

#aboutMe{
    border: 1px solid black;
    height: 30vh;
}
#work{
    border: 1px solid black;
    height: 150vh;
}
#contact{
    border: 1px solid black;
    height: 20vh;
}
#aboutMe, #work, #contact{
    display: flex;
    flex-wrap: wrap;
}

#first-picture{
    flex-basis: 100%;
    border: 1px solid violet;
    height: 60vh;
}
